<div class="container mt-4">
  <div class="mb-3 border-bottom pb-2">
    <h4 class="fw-bold">Patient<span class="text-danger">_</span>List</h4>
  </div>

  <div *ngIf="loading" class="text-center py-4">
    <div class="spinner-border text-primary me-2" role="status"></div>
    Loading patients...
  </div>

  <table
    *ngIf="!loading && patients.length > 0"
    class="table table-striped table-hover shadow mt-2"
  >
    <thead class="table-secondary">
      <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Gender</th>
        <th>Age</th>
        <th>Contact</th>
        <th>Email</th>
        <th>Address</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let p of patients">
        <td>{{ p.firstName }}</td>
        <td>{{ p.lastName }}</td>
        <td>{{ p.gender }}</td>
        <td>{{ p.age }}</td>
        <td>{{ p.contactNumber }}</td>
        <td>{{ p.email }}</td>
        <td>{{ p.address }}</td>
        <td>
          <div class="d-flex justify-content-center gap-1">
            <button
              type="button"
              class="btn btn-outline-primary btn-sm d-flex align-items-center justify-content-center px-2"
              (click)="editPatient(p)"
              data-bs-toggle="tooltip"
              title="Edit"
            >
              <i-lucide [name]="pencil" [size]="16"></i-lucide>
            </button>

            <button
              type="button"
              class="btn btn-outline-danger btn-sm d-flex align-items-center justify-content-center px-2"
              (click)="deletePatient(p)"
              data-bs-toggle="tooltip"
              title="Delete"
            >
              <i-lucide [name]="trash" [size]="16"></i-lucide>
            </button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>

  <div
    *ngIf="!loading && patients.length === 0"
    class="text-center py-4 text-muted"
  >
    No patients found.
  </div>
</div>
