<!-- Top Navbar -->
<nav class="navbar px-3 d-flex align-items-center justify-content-between bg-sidebar text-white">
  
  <!-- Left: Sidebar toggle + title -->
  <div class="d-flex align-items-center">
    <i class="fa-solid fa-bars me-3" (click)="toggleSidebar()" style="cursor:pointer;"></i>
    <span><img [src]="logoPath" alt="logo" style="height:40px;"></span>
  </div>

  <!-- Center: Search box -->
  <div class="flex-grow-1 mx-3">
    <input type="search" placeholder="Search patients..." class="form-control"
           [(ngModel)]="searchText"
           (input)="applySearch()"
           (keyup.enter)="applySearch()">
  </div>

  <!-- Right: Actions -->
 <div class="d-flex align-items-center gap-3">
  <button class="btn btn-success" (click)="addPatient()">Add Patient</button>
  
  <i class="fa-regular fa-bell fa-lg" style="cursor:pointer;"></i>
 <img [src]="passphoto" 
     alt="User"  
     class="rounded-circle" 
     style="width:40px; height:40px; object-fit:cover;">

</div>

</nav>

<div class="d-flex">

  <!-- Sidebar -->
  <div class="bg-sidebar text-white p-3" [hidden]="!sidebarToggle">
    <ul class="nav flex-column">
      <li *ngFor="let item of filteredSidebar" class="nav-item mb-2">

        <ng-container *ngIf="!item.children">
          <a class="nav-link text-white" [routerLink]="item.link" routerLinkActive="active-link">{{ item.name }}</a>
        </ng-container>

        <ng-container *ngIf="item.children">
          <a class="nav-link text-white" href="#" (click)="toggleCollapse(item.name); $event.preventDefault()">
            {{ item.name }}
          </a>
          <div class="collapse" [class.show]="item.open">
            <ul class="nav flex-column ms-3">
              <li *ngFor="let child of item.children">
                <a class="nav-link text-white" [routerLink]="child.link" routerLinkActive="active-link">{{ child.name }}</a>
              </li>
            </ul>
          </div>
        </ng-container>

      </li>
    </ul>
  </div>

  <!-- Main Content -->
  <div class="p-4 flex-grow-1 bg-light">
    <app-dashboard *ngIf="showDashboard"></app-dashboard>
    <router-outlet *ngIf="!showDashboard"></router-outlet>
  </div>

</div>
